@font-face {
    font-family:"Flexo-Regular" ;
    src: url(/Flexo-Regular.ttf);
}

main{
    font-family: 'Flexo-Regular', Courier, monospace;
}

body{
    font-family: 'Flexo-Regular', Courier, monospace;
}

.mainDetalle{
    background-image: linear-gradient(
        to bottom,
        transparent,
        grey
        ),
        url(/img/wallpaperbetter.jpg);        
    }

