@font-face {
    font-family: Flexo;
    src: url('../Flexo-Regular.ttf');
}

.card-img {
    perspective: 1000;
    background: transparent;
}
/* flip the picture when hover */

.card-img:hover .flipper{
    transform: rotateY(180deg);
}

/* flip speed */

.flipper {
    transition: 1.5s;
    transform-style: preserve-3d;
    position: relative;
}
/* hide back  during flip */

.front, .back {
    backface-visibility: hidden;
    filter: drop-shadow(4px 5px 6px black);
    position: absolute;
}
/* front placed above back */

.front {
    z-index: 2;
}
/* back, initially hidden */

.back {
    transform: rotateY(180deg);
}

.back img{
    max-height: 450px;
}

#team .container-fluid{
    background-attachment: fixed;
    background-image: url('../img/about-us-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h2{
    font-family: Flexo, Courier, monospace;
}