
.banner-Principal{
        max-height: 285px;
        object-fit: cover;
}

.gradiente-Pokeball{
        background-color: #ffffff;
background-image: linear-gradient(43deg, #ffffff 30%, #000000 50%, #dd1f16 72%);

}