*{
    padding: 0px;
    margin: 0px;
}

body{
    background: #fff;
}



.pokedex-card{
    display: flex;
    flex-wrap: wrap;
    margin: 70px;
    justify-content: start; 
}

.card{ 
    margin:10px 14px 0px 0px;
}





.tipo-pokemon{
    display: flex;
}

.card-text{
    margin-right: 10px;
}

/* utilidades */ /*Cambio de height a 25px*/
.card-text{
    margin-right: 10px;
}

/* utilidades */ /*Cambio de height a 25px*/

.planta{
    background-color: rgb(11, 153, 11);
    display: flex;
    border-radius: 10px;
    color: white;
    justify-content: center;
    width: 70px;
    height: 25px;
    margin-right: 5px;
    height: 25px;
    margin-right: 5px;
}

.veneno{
    background-color: rgb(109, 65, 151);
    display: flex;
    border-radius: 10px;
    color: white;
    justify-content: center;
    width: 70px;
    height: 25px;
    margin-right: 5px;
    height: 25px;
    margin-right: 5px;
}

.fuego{
    background: rgb(219, 147, 13);
    display: flex;
    border-radius: 10px;
    color: white;
    justify-content: center;
    width: 70px;
    height: 25px;
    margin-right: 5px;
    height: 25px;
    margin-right: 5px;
}

.volador{
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%); /* Volador como el de la Pagina*/
    display: flex;
    border-radius: 10px;
    color: white;
    justify-content: center;
    width: 70px;
    height: 25px;
    margin-right: 5px;
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%); /* Volador como el de la Pagina*/
    display: flex;
    border-radius: 10px;
    color: white;
    justify-content: center;
    width: 70px;
    height: 25px;
    margin-right: 5px;
}

.agua{
    background:  #0093E9;
    display: flex;
    border-radius: 10px;
    color: white;
    justify-content: center;
    width: 70px;
    height: 25px;
    margin-right: 5px;
    height: 25px;
    margin-right: 5px;
}

.bicho{
    background:  rgba(46, 155, 46, 0.733);
    display: flex;
    border-radius: 10px;
    color: white;
    justify-content: center;
    width: 70px;
    margin-right: 5px;
}

.normal{
    background-color: #9fafaf;
    display: flex;
    border-radius: 10px;
    color: white;
    justify-content: center;
    width: 70px;
    height: 25px;
    margin-right: 5px;
}


.btn-primary{  /* Margin del boton "Ver detalles" */
    margin-top: 10px;